{% extends 'layout.html' %}
{% block body %}

<br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .ct-mobile1{
        display: none;
    }
    .card{
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    height:100%;
    width:90%;
    background-color:#0f0f0f;
    padding-left: 30px;
    display: flex;
    margin-left: 10px;


  }
  .card-body{
    color:#e5e4e2;
    display: block;
    text-align:justify;
  }

  .card-img-top{
    border-radius: 20px;
    height: 60%;
    width:90%;
  }
    .status {
        font-size: larger;
    }

    .container {

        top: 10px;
    }

    .dropdown-item:hover {
        background-color: #3D3D3D;
        color: black;
    }

    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .ct {
        float: right;
    }

    .pr {
        font-size: 35px;
        color: #e5e4e2;
    }

    p,
    b {
        color: #e5e4e2;
    }

    .product_name {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        color: #e8e8e8;
    }

    img {
        overflow: hidden;
        transition: 0.2s all ease-in-out;
        max-width:80%;
    }

    img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        /* Safari and Chrome */
        -moz-transform: scale(1.1);
        /* Firefox */
        -ms-transform: scale(1.1);
        /* IE 9 */
        -o-transform: scale(1.1);
        /* Opera */
        transform: scale(1.1);

    }

    .goback {
        display: none;
    }

    @media only screen and (max-width: 600px) {

        .ct-mobile1{
        display:block;
        float: left;
        padding-left: 10px;
    }
        .product_name {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
            color: #e8e8e8;

        }

        img {

            padding: auto;
            padding-bottom: 50px;
            display: table;
            margin-left: auto;
            margin-right: auto;
            max-width:80%;
        }

      

        .row_image {
            display:none;
        }

        .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
        }

        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }
    }


    .crt {
        float: right;
    }

    .image_pro {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="ct-mobile1">

    <a href="{{url_for('getCart')}}" class="nav-link">
        <font color="#e5e4e2"><i style="font-size:3vw" class="fa">&#xf07a;({{session['Shoppingcart']|length }}) </a></i>
        </font>
</div>

<div class="container mt-5">
    <div class="row">

        <div class="col-md-6" id="b_image">
            <div class="image_pro">
                <img src="{{url_for('static',filename='images/'+ product.image_1)}}" alt="{{product.name}}" width="500"
                    height="500">
            </div>
        </div>
        <div class="col-md-6">
            {% include '_messages.html'%}
            <br>
            <br>
            <h1 class="product_name"><b>{{product.name}}</h1></b>
            <hr>
            <p class="pr">&#8377; {{product.price}}</p>
            <p><b>Product origin:</b> {{product.origin}}</p>
            <p><b>Product Condition:</b> {{product.condition}}</p>
            <p><b>Colors:</b> {{product.colors}}</p>
            {% if product.discount >0 %}
            <p>
                <font color="red">Discount:{{product.discount}}%
            </p>
            </font>
            {% endif %}
            <b>Product Availability</b>
            {% if product.stock>0%}
            <p>
                <font color="green" class="status">In stock</font>
            </p>
            {%else%}
            <p>
                <font color="red" class="status">Out of stock</font>
            </p>
            {% endif %}
            <b>Product Description</b>
            <br>
            <p>{{product.description}}</p>
            <hr>
            <!--cart function-->
            <form action="{{url_for('AddCart')}}" method='post'>

                <input type="hidden" name="product_id" value="{{product.id}}">

                <button type="submit" class="btn btn-dark">Add to cart</button>

                <label for="">
                    <font color="#e5e4e2">Quantity:
                </label></font>

                <input type='number' name="quantity" id="" value="1" min='1' max="{{product.stock}}">
                {% set colors=product.colors.split(',') %}
                <label for="colors">
                    <font color="#e5e4e2">Colors:
                </label></font>
                <select name="colors" id="">

                    {% for color in colors %}
                    {% set col= color.split(':') %}
                    <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
            </form>

            <b>Installation service:</b>
            <br>
            <p>{{product.install_service}}</p>
            <br>
            <b>Watch installation Video</b>
            <br>
            <br>
            <p><a href="{{product.yt}}"><font color="red">View Video</i></a></p></font>


            <!--buttons-->

            <!--review section-->
            <form action="{{ url_for('addReviews',category = product.category.name, id=product.id) }}" method="POST"
            enctype="multipart/form-data" id="review-form">


            <p>Rate this Product out of 5</p>

            
            <div class="form-group">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon mr-3 mt-2"><i class="fa fa-heart"
                                style="color: #e5e4e2"></i></span>
                        <select class="form-control" id="rate" name="rating">
                            <option value="0"class="fa fa-star">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <br>
                <p>Write product review</p>
                <textarea form="review-form" name="reviews"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-light">Add Review</button>
        </form>
        </div>
    </div>
    <div class="row_image">
        <div class="col-md-12 mt-3" id="s_image">

            <img src="{{url_for('static',filename='images/'+ product.image_1)}}" alt="{{product.name}}" width="130"
                height="130" class="p-3">
            <img src="{{url_for('static',filename='images/'+ product.image_2)}}" alt="{{product.name}}" width="130"
                height="130" class="p-3">
            <img src="{{url_for('static',filename='images/'+ product.image_3)}}" alt="{{product.name}}" width="130"
                height="130" class='p-3'>
            <img src="{{url_for('static',filename='images/'+ product.certificate)}}" alt="{{product.name}}" width="130"
                height="130" class='p-3'>

        </div>
    </div>
</div>
<br>

    </div>
</div>
<br>
<hr color="#e5e4e2">
<br>
<div class="row">
    <h3 style="color: #e5e4e2;" class="text-center">Recommended Products in this Category based on ratings</h3>
    <br>
    {% for p in results %}
    <br>
    <div class="col-md-3 mt-3">
        <div class="card">

            <img src="{{url_for('static',filename='images/'+p.image_1)}}" alt="{{p.name}}"
                class="card-img-top">
            <div class="card-body">
                <h5 class="text-center">{{p.name}}</h5>
                <p class="text-center">Rs.{{p.price}}</p>
            </div>

            <div class="card-footer">

                <a href="{{url_for('single_page',id=p.id)}}" class="float-left btn btn-sm btn-light">
                    <font color="black">Detail
                </a></font>
                <form action="{{url_for('AddCart')}}" method='post'>

                    <input type="hidden" name="product_id" value="{{p.id}}">

                    <button type="submit" class="btn btn-dark float-right">
                        <font color="#e5e4e2">Add to cart
                    </button></font>
                    <input type='hidden' name="quantity" id="" value="1" min='1' max="{{p.stock}}">
                    {% set colors=p.colors.split(',') %}
                    <select name="colors" id="" style="visibility: hidden;">
                        {% for color in colors %}
                        {% set col= color.split(':') %}
                        <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<br>
<hr color="#e5e4e2">
<script>
    var b_image = document.getElementById('b_image');
    var s_image = document.getElementById('s_image').getElementsByTagName('img');
    for (var i = 0; i < s_image.length; i++) {

        s_image[i].addEventListener('click', full_image);
    }
    function full_image() {
        var ImageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src=" + ImageSRC + " width='500' height='500'>";
    }
</script>
{% endblock %}