{% extends "layout.html" %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <div class="container">
    <h1>Flask-SQLAlchemy Tutorial</h1>
      {% for user in users %}
        <ul id="user.username">
          <li>
              <span class="field-name">User:</span>
              <span class="field-value">{{ user.username }}</span>
          </li>
          <li>
              <span class="field-name">Email:</span>
              <span class="field-value">{{ user.email }}</span>
          </li>
        </ul>
      {% endfor %}
    </div>
{% endblock %}